<div
    class={"flex pb-full w-full h-0 tile tile-" <> @color}
    phx-target={@myself}
    phx-click="toggle_highlight"
    phx-value-rank={@rank}
    phx-value-file={@file}>
    <div class="pb-full">
    </div>
</div>
